.button {
  width: 189.56px;
  height: 77.22px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1.31px solid #eaeaea;
  border-radius: 107.06px;
  text-align: center;
  gap: 5.22px;
  transition: all 0.3s ease;
  cursor: none;
  -webkit-user-select: none;
  user-select: none;
}

#white:hover {
  background-color: #eaeaea !important;
}

#black {
  color: white !important;
  background-color: #1c1c1c !important;
}
#black:hover {
  background-color: #4e4e4e !important;
}

#disabled {
  color: white !important;
  background-color: #c9c9c9 !important;
  cursor: none;
}
